body {
  background-color: #2D2D2D;
}

.wrapper {
  width: 600px;
  margin: auto;
}

.wrapper > h1 {
  text-align: center;
  border-bottom: 1px solid gray;
  color: gray;
}

.wrapper > h2 {
  font-size: 0.9em;
  color: gray;
  margin-bottom: 30px;
}

.song {
  background-color: gray;
  overflow: hidden;
  padding: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.song:hover {
  background-color: #969696;
}

.song .play,
.song .stop,
.song h2 {
  display: inline-block;
}

.song .play,
.song .stop {
  font-size: 2em;
  cursor: pointer;
}
